/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}




.bsd-signup-131 {
  display: none;
}
*, *:after, *:before {
  box-sizing: border-box;
}


/* Builder */

button {
  background: #209bde;
  border: none;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-size: 16px;
  padding: 10px 25px;
}

.builder {
  -webkit-font-smoothing: antialiased;
  background: url(/images/page-bg.jpg);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.builder header {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 40px;
}

.builder h1 {
  color: #1d24ab;
  font-size: 25px;
  line-height: 1;
  margin: 0 auto;
  max-width: 1200px;
}

.builder h2 {
  margin-top: 0;
}

.code-snippet {
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
}

.code-snippet h4 {
  margin-top: 0;
}

.code-snippet pre {
  background: #e8eff6;
  font-size: 12px;
  padding: 2em 1em 1em;
}

.col-1 {
  float: left;
  margin-bottom: 60px;
  width: 40%;
}

.col-2 {
  float: right;
  width: 55%;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 0;
}

.form-entry {
  list-style: none;
}

.form-entry label {
  display: inline-block;
  font-weight: bold;
  line-height: 34px;
  margin-top: 10px;
}

.panel__switches label {
  display: block;
  margin: 10px 0px 30px;
}

.form-entry input {
  background: #e8eff6;
  border: 0;
  float: right;
  padding: 8px 10px;
  width: 200px;
}

.form-entry textarea {
  background: #e8eff6;
  border: none;
  border-left: 1px solid #b5c0cc;
  border-top: 1px solid #b5c0cc;
  float: right;
  width: 200px;
}

.form__content input {
  padding: 10px 5px;
}

.panel {
  background: #fff;
  border: 1px solid #ccc;
  max-width: 500px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 30px;
  width: 100%;
}

.panel__options button {
  float: right;
}

.preview {
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px 20px;
}

.preview__widget {
  background: #ccc;
  padding: 20px 20px;
}

.form__content {
  max-width: 300px;
  width: 100%;
}

ul {
  padding: 0px;
}

#widget__button {
  border: 1px solid #fff;
  border-radius: 8px;
  display: block;
  padding: 10px 20px;
  width: 100px;
}


/* All Widget */
body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 20px;
}

input {
  margin: 10px 0px;
  width: 100%;
}

input[type="checkbox"] {
  float: left;
  margin: 0px 5px 0px 0px;
  width: auto;
}

input[type="submit"] {
  border: none;
  background: #fff;
  margin: 10px auto;
  max-width: 300px;
  width: 100%;
}

.small {
  font-size: 12px;
}

.widget {
  border: 1px solid #000;
  margin: auto;
  max-width: 300px;
  padding: 30px 20px;
  width: 100%;
}

/* Switches */
.onoffswitch {
  position: relative; width: 55px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 0px solid #FFFFFF; border-radius: 30px;
  background-color: #9E9E9E;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 30px; margin: -5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 31px;
  border-radius: 30px;
  box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #209bde;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
 border-color: #209bde;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; 
  background-color: #209BDE; 
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.onoffswitch label {
  margin: 0px;
  display: block;
}