.widget-form {
	margin: 0 auto;
	max-width: 500px;
	padding: 1em 0;
}
.widget-form input {
	border: 0;
	display: block;
}
.widget-form input[type='text'] {
	margin: 0.4em 0;
	padding: 0.4em 2.5%;
	width: 95%;
}
.widget-form input[type='submit'] {
	padding: 0.4em 0;
	width: 100%;
}