---
title: BSD Widgets
---

<div class="welcome">

  <p>Form Widget</p>
  <a href="https://testenvironment-whichcouk.cp.bsd.net/page/s/help-us-stamp-out-dodgy-deliveries" class="bsd-widget" data-type="form">Help us stamp out dodgy deliveries</a>
  <script src="/javascripts/bsd-widget.js"></script>

  <br />
  <p>Advocacy Widget</p>
  <a href="https://testenvironment-whichcouk.cp.bsd.net/page/speakout/help-us-stamp-out-dodgy-deliveries" class="bsd-widget" data-type="advocacy">Help us stamp out dodgy deliveries</a>

  <!--Form + Advocacy Widget-->
  <!--Coming soon-->
  
</div><!-- .welcome -->