---
title: Welcome to Middleman
---

<div class="welcome">

  <!--Form Widget-->
  <a href="https://testenvironment-whichcouk.cp.bsd.net/page/s/help-us-stamp-out-dodgy-deliveries" class="bsd-widget-form">Help us stamp out dodgy deliveries</a>
  <script src="/javascripts/bsd-widget-form.js"></script>

  <!--Advocacy Widget-->
  <a href="https://testenvironment-whichcouk.cp.bsd.net/page/speakout/help-us-stamp-out-dodgy-deliveries" class="bsd-widget-speakout">Help us stamp out dodgy deliveries</a>
  <script src="/javascripts/bsd-widget-speakout.js"></script>

  <!--Form + Advocacy Widget-->

  
</div><!-- .welcome -->